.company-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 35px;
}

.company-group__title {
  display: none;

  @media (min-width: 1200px) {
    min-width: 700px;
    min-height: 316px;
    margin-top: 41px;
    margin-bottom: 0;
    padding-top: 34px;
    color: #ffffff;
    font-weight: 400;
    font-size: 28px;
    font-family: "Century", "Arial", serif;
    text-align: center;
    text-transform: uppercase;
    background-image: url("../../assets/images/wreath.png");
    background-repeat: no-repeat;
    background-position-y: -119px;
    background-size: contain;
  }
}

.company-group__list {
  display: flex;
  flex-direction: column;
  height: 180px;
  margin-top: 39px;
  padding: 0 18px;

  @media (min-width: 1200px) {
    width: 433px;
    min-width: 534px;
    height: 293px;
    margin-top: -123px;
  }
}

.company-group__item {
  display: flex;
}

.company-group__link {
  display: block;
}

.company-group__logo {
  width: 50px;
  height: 50px;

  @media (min-width: 1200px) {
    width: 100px;
    height: 100px;
  }
}

.company-group__company-label {
  color: #ffffff;
  font-weight: 400;
  font-size: 7px;
  text-align: center;

  @media (min-width: 1200px) {
    font-size: 20px;
  }
}
