.company-group {
  position: relative;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-group__title {
  font-size: 18px;
}

.company-group__svg {
  width: 200px;
  height: 150px;
}

.company-group__company {
  position: absolute;
  padding: 2px;
  border: 1px solid black;
  display: block;
  border-radius: 50%;
}

.company-group__company--ES {
  bottom: 9px;
  left: 28px;
}

.company-group__company--ESS {
  bottom: 9px;
  left: 122px;
}

.company-group__company--ETE {
  bottom: 9px;
  right: 25px;
}
