@import "../../../variables.scss";

.equipments {
  margin-top: 50px;
}

.equipments__wrapper-for-photo {
  display: flex;
  margin: 50px;
}

.equipments__wrapper-for-text {
  padding: 20px;

  @media (min-width: $small-desktop-width) {
    padding: 50px;
  }
}

.equipments__slider-wrapper {
  display: flex;
}

.equipments__list-item {
  position: relative;
  padding-left: 25px;
}

.equipments__list-item::before {
  position: absolute;
  top: 6px;
  left: -5px;
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/images/circle-blue.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  content: "";
}
