.footer__nav {
  padding: 50px 20px 50px 20px;
}

@media (min-width: 660px) {
  .footer__nav {
    display: none;
  }
}

.footer__nav-list {
  text-align: center;
}

.footer__nav-item {
  margin-bottom: 22px;
}

.footer__nav-link {
  text-decoration: none;
  color: #2F3842;
  font-weight: bold;
  text-transform: uppercase;
}
