@import "../../variables.scss";

.advantages {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;

  @media (max-width: $mobile-width-only) {
    order: 6;
  }
}

.advantages__item {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding-top: 50px;
  color: #ffffff;
  text-align: center;
  background-color: rgba(54, 109, 161, 0.75);
  border-radius: 64px;
}
