.nav__lower-list--closed {
  display: none;
}

.nav__lower-list--opened {
  display: block;
}

.nav__open-lower-list {
  border: none;
  background-color: inherit;
}

.nav__lower-list-item {
  text-align: left;
  padding: 5px 0 5px 5%;
}

.nav__lower-list-link {
  text-decoration: none;
  color: #2F3842;
}

.footer__nav-item .nav__lower-list-item {
  text-align: center;
}

.footer__nav-item .nav__lower-list--opened {
  padding: 25px 0 35px 0;
}

