@import "../../variables.scss";

.contacts-block {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 20px;

  @media (min-width: $small-desktop-width) {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.contacts-block__wrapper-for-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-block__contact-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;

  &--telephone {
    width: 40px;
    height: 40px;
    margin-right: 0;
  }

  &--geo {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      left: 35px;
    }
  }
}

.contacts-block__contact-icon--geo + .contacts-block__contact-info {
  @media (max-width: $mobile-width-only) {
    padding-left: 19px;
  }
}

.contacts-block__info-block {
  display: flex;
  align-items: center;
  text-align: center;
}

.contacts-block__contact-info {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.contacts-block__sprite {
  display: none;
}
