@import "../../variables.scss";

.callback-btn {
  display: block;
  width: 200px;
  height: 40px;
  margin: 0 auto 20px auto;
  padding: 10px;
  background-color: #366da1;
  background-image: url("../../assets/images/callback-icon.svg");
  background-repeat: no-repeat;
  background-position-x: 152px;
  background-position-y: 7px;
  background-size: 30px 30px;
  border: none;
  border-radius: 32px;

  @media (min-width: $small-desktop-width) {
    width: 500px;
    height: 80px;
    background-position-x: 405px;
    background-position-y: 5px;
    background-size: 70px 70px;
  }
}

.callback-btn__text {
  color: #ffffff;
  font-size: 10px;
  text-transform: uppercase;

  @media (min-width: $small-desktop-width) {
    font-size: 25px;
  }
}
