@import "../../variables.scss";

.security {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $small-desktop-width) {
    max-width: 1200px;
  }
}

.security__main-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;

  @media (min-width: $small-desktop-width) {
    width: 1000px;
  }
}

.security__wrapper-for-list {
  width: 50%;
  font-size: var(--item-font-size);

  @media (max-width: $mobile-width-only) {
    order: 3;
  }
}

.security__pic {
  display: block;

  &--back {
    width: 320px;
    height: 135px;
    border-radius: 80px;
  }

  &--man {
    order: 2;
    width: 140px;
    height: 140px;
    border-radius: 100px;
  }

  @media (min-width: $small-desktop-width) {
    border-radius: 0;

    &--back {
      width: 1100px;
      height: 550px;
    }

    &--man {
      order: 1;
      width: 500px;
      height: 550px;
    }
  }
}

.security__text-services-price {
  font-size: var(--item-font-size);

  @media (max-width: $mobile-width-only) {
    order: 1;
  }

  @media (min-width: $small-desktop-width) {
    order: 2;
  }
}

.security__text-more-info {
  font-size: var(--text-font-size);
  text-align: center;

  @media (max-width: $mobile-width-only) {
    order: 5;
  }
}

.security__blue-words {
  color: #2b7298;
  font-size: calc(var(--text-font-size) + 1px);
}

.security__el-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media (min-width: $small-desktop-width) {
    margin-top: 28px;
  }
}
