@import "../../variables.scss";

.security {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $small-desktop-width) {
    max-width: 1200px;
  }
}

.security__main-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;

  @media (min-width: $small-desktop-width) {
    width: 1000px;
  }
}

.security__wrapper-for-list {
  width: 50%;
  font-size: var(--mobile-text-font-size);

  @media (max-width: $mobile-width-only) {
    order: 3;
  }

  @media (min-width: $small-desktop-width) {
    font-size: var(--desktop-text-font-size);
  }
}

.security__pic {
  display: block;

  &--back {
    width: 320px;
    height: 135px;
    border-radius: 80px;
  }

  &--man {
    width: 140px;
    height: 140px;
    border-radius: 100px;

    @media (max-width: $mobile-width-only) {
      order: 4;
      margin-top: -349px;
    }
  }

  @media (min-width: $small-desktop-width) {
    border-radius: 0;

    &--back {
      width: 1100px;
      height: 550px;
    }

    &--man {
      width: 500px;
      height: 550px;
    }
  }
}

.security__text-services-price {
  width: 50%;
  font-size: var(--mobile-text-font-size);

  @media (max-width: $mobile-width-only) {
    order: 2;
  }

  @media (min-width: $small-desktop-width) {
    margin-left: 50%;
    font-size: var(--desktop-text-font-size);
  }
}

.security__text-more-info {
  font-size: calc(var(--mobile-text-font-size) + 5px);

  @media (max-width: $mobile-width-only) {
    order: 5;
  }

  @media (min-width: $small-desktop-width) {
    font-size: calc(var(--desktop-text-font-size) + 5px);
  }
}
