.header {
  box-shadow: 0 -1px 7px 0 #3c4758;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 20px 10px 20px;
  z-index: 2;

  @media (min-width: 1200px) {
    padding: 0 40px 0 40px;
    min-height: 110px;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.header__main-link {
  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  width: 60px;
  height: 60px;

  @media (min-width: 1200px) {
    width: 85px;
    height: 85px;
  }
}

@media (min-width: 1200px) {
  .nav {
    width: 100%;
  }
}

.nav--closed {
  height: auto;
}

.nav--opened {
  height: 100vh;
}

.nav__list {
  display: none;

  @media (min-width: 1200px) {
    display: flex;
    margin-left: 20px;
    height: 100%;
  }
}

.nav__contact-phone {
  display: none;
  color: #3c4758;
  font-size: 14px;
  line-height: 24px;
}

.nav--opened .nav__contact-phone {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 25px;
}

.nav--opened .nav__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  left: 0;
  top: 84px;
}

@keyframes item {
  from {
    left: -337px;
    display: none;
  }

  to {
    left: 3px;
  }
}

.nav__item {
  position: relative;
  margin-right: 15px;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  box-shadow: 0 -6px 7px -7px #3c4758;
  animation-name: item;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  @media (min-width: 1200px) {
    animation: none;
    width: auto;
    margin-right: 0;
    padding: 0 30px;
    white-space: nowrap;
    box-shadow: none;
    display: flex;
    align-items: center;
  }
}

@for $i from 1 to 7 {
  $ms: 850 + 150 * $i;

  .nav__item:nth-child(#{$i}) {
    animation-duration: #{$ms}ms;
  }
}

/* ///// */

@media (min-width: 1200px) {
  .nav__item:hover {
    background-color: rgba(60, 71, 88, 0.1);
  }

  .nav__item:hover .nav__open-lower-list {
    background-color: rgba(60, 71, 88, 0);
  }

  .nav__open-lower-list:hover + .nav__lower-list,
  .nav__item:hover .nav__lower-list {
    display: block;
    position: absolute;
    bottom: -262px;
    left: 0;
    background-color: #ffffff;
  }

  .nav__open-lower-list:hover + .nav__lower-list .nav__lower-list-item--header,
  .nav__item:hover .nav__lower-list .nav__lower-list-item--header {
    min-height: 50px;
    box-sizing: border-box;
    padding: 15px 25px;
    background-color: #ffffff;
    box-shadow: inset 0 -5px 11px -7px rgb(60 71 88);
  }

  .nav__open-lower-list:hover + .nav__lower-list .nav__lower-list-link,
  .nav__item:hover .nav__lower-list .nav__lower-list-link {
    font-size: 20px;
  }

  .nav__lower-list-item:hover {
    background-color: rgba(60, 71, 88, 0.1) !important;
  }
}

/* ///// */

.nav__link {
  text-decoration: none;
  color: #3c4758;
  width: 100%;
  display: block;
  min-height: 40px;
  padding: 10px 0;
  box-sizing: border-box;

  @media (min-width: 1200px) {
    font-size: 21px;
    display: inline;
  }
}

@media (min-width: 1200px) {
  .nav--opened .nav__list {
    display: flex;
  }
}
