.contacts {
  display: flex;
  margin-top: 61px;
  margin-bottom: 61px;
}

.contacts h1 {
  min-width: 215px;
  height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.contacts__wrapper-for-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  justify-items: center;
  margin-top: 75px;
  margin-left: 126px;
}

.contacts__info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;

  &--address {
    grid-column: 1/2;
  }

  &--email {
    grid-column: 2/3;
  }

  &--mainphone {
    grid-column: 1/2;
  }

  &--maindir {
    grid-column: 1/3;
    align-items: flex-start;
  }

  &--physdir {
    grid-column: 1/3;
    align-items: flex-start;
  }

  &--techdir {
    grid-column: 1/3;
    align-items: flex-start;
  }
}

.contacts__label {
  color: #868686;
  font-size: 30px;
  text-transform: uppercase;
}

.contacts__label-for-human {
  max-width: 396px;
  color: #868686;
  font-size: 27px;
}

.contacts__dirname,
.contacts__contact-info {
  color: #000000;
  font-size: 24px;
  text-decoration: none;
}

.contacts__contact-info {
  max-width: 216px;
  text-align: center;
}

.contacts__vk-group {
  grid-column: 1/3;
}
