.nav-bar-hight {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.nav-bar-hight__item {
  margin-right: 15px;
}

.nav-bar-hight__link {
  text-decoration: none;
  color: #000000;
}
