.workers {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 800px;
  border-bottom: 1px solid #000000;

  @media (min-width: 1200px) {
    padding: 50px;
    gap: 40px;
    max-width: 1500px;
  }
}

.workers__item {
  width: 280px;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.workers__pic {
  width: 280px;
  margin: 0 0 10px 0;
}

.workers__title {
  margin: 0 0 10px 0;
  font-size: 20px;
}

.workers__description {
  margin: 0;
  font-size: 16px;
}
