.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  background-color: #366da1;
}

.footer__map {
  width: 100%;
  height: 200px;
  border: none;

  @media (min-width: 1200px) {
    height: 502px;
  }
}

.footer__wrapper-for-lower-lavel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__wrapper-for-logo {
  display: flex;
  align-items: baseline;
  height: max-content;
}

.footer__logo {
  display: block;
  margin-right: 10px;
}

.footer__copyright {
  margin: 0;
}
