@import "../../variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  background-color: #366da1;
}

.footer__map {
  width: 100%;
  height: 200px;
  border: none;

  @media (min-width: $small-desktop-width) {
    height: 502px;
  }
}

.footer__wrapper-for-lower-lavel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  @media (min-width: $small-desktop-width) {
    flex-direction: row;
    height: 502px;
  }
}

.footer__wrapper-for-logo {
  display: flex;
  align-items: baseline;
  height: max-content;

  @media (max-width: $mobile-width-only) {
    order: 3;
  }

  @media (min-width: $small-desktop-width) {
    margin-left: 74px;
  }
}

.footer__logo {
  display: block;
}

.footer__copyright {
  margin: 0 0 0 20px;
}
