@import "../../variables.scss";

.certificates__text {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.certificates__item {
  padding: 0 20px;
}

.certificates__pic {
  width: 170px;

  @media (min-width: $small-desktop-width) {
    width: 259px;
  }
}
