@import "../../../variables.scss";

.vacancies {
  margin-top: 50px;
}

.vacancies__main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  @media (min-width: $small-desktop-width) {
    padding: 50px;
  }
}

.vacancies__wrapper-for-phone {
  align-self: center;
}

.vacancies__list {
  padding-left: 16px;
}

.vacancies__text {
  font-size: 17px;

  @media (min-width: $small-desktop-width) {
    font-size: 25px;
  }
}

.vacancies__list-item {
  position: relative;
  font-size: 15px;

  @media (min-width: $small-desktop-width) {
    font-size: 20px;
  }
}

.vacancies__list-item::before {
  position: absolute;
  top: 6px;
  left: -27px;
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/images/circle-blue.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  content: "";
}
