.vacancies__main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  @media (min-width: 1200px) {
    padding: 50px;
  }
}

.vacancies__wrapper-for-phone {
  align-self: center;
}

.vacancies__title {
  margin-top: 50px;
}

.vacancies__list {
  padding-left: 16px;
  list-style-type: disc;
}

.vacancies__text {
  font-size: 17px;

  @media (min-width: 1200px) {
    font-size: 25px;
  }
}

.vacancies__list-item {
  font-size: 15px;

  @media (min-width: 1200px) {
    font-size: 20px;
  }
}
