@import "../../variables.scss";

.slider {
  padding: 15px 0;
}

.slider__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 235px;
  overflow: hidden;
}

.slider__list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 930px;
  transition-duration: 1s;
  transition-property: transform;
}

.slider__button {
  z-index: 2;
  display: inline-block;
  padding: 10px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: none;

  &--next {
    transform: rotate(-180deg);
  }

  @media (min-width: $small-desktop-width) {
    &--next {
      transform: none;
    }

    &--back {
      transform: rotate(180deg);
    }
  }
}

.slider__arrow {
  &--desktop {
    display: none;
  }

  &--mobile {
    display: block;
  }

  @media (min-width: $small-desktop-width) {
    &--desktop {
      display: block;
      width: 100px;
      height: 100px;
    }

    &--mobile {
      display: none;
    }
  }
}

.slider__arrow-path {
  fill: #000000;
}

.slider__button:hover {
  cursor: pointer;
}

.slider__button:hover .slider__arrow-path {
  opacity: 0.6;
}

.slider__button:active .slider__arrow-path {
  opacity: 0.4;
}

.slider__button:disabled .slider__arrow-path {
  opacity: 0.2;
}
